In [2]:
import polars as pl

In [7]:
column_rename_mapping = {
    "VendorID": "vendor_id",
    "RatecodeID": "rate_code_id",
    "PULocationID": "pickup_location_id",
    "DOLocationID": "dropoff_location_id",
    "Airport_fee": "airport_fee",
}
march_yellow_df = pl.read_parquet("./../data/yellow_tripdata_2024-03.parquet").rename(
    column_rename_mapping
)

## Joining Dataframes

In [8]:
location_id_summary_df = (
    march_yellow_df.group_by(
        "pickup_location_id"
    ).agg(
        pl.len().alias("count_trips"),
        pl.col("trip_distance").min().name.suffix("_min"),
        pl.col("trip_distance").mean().name.suffix("_mean"),
        pl.col("trip_distance").max().name.suffix("_max")
    )
)
location_id_summary_df.head()

shape: (5, 5)
┌────────────────────┬─────────────┬───────────────────┬────────────────────┬───────────────────┐
│ pickup_location_id ┆ count_trips ┆ trip_distance_min ┆ trip_distance_mean ┆ trip_distance_max │
│ ---                ┆ ---         ┆ ---               ┆ ---                ┆ ---               │
│ i32                ┆ u32         ┆ f64               ┆ f64                ┆ f64               │
╞════════════════════╪═════════════╪═══════════════════╪════════════════════╪═══════════════════╡
│ 25                 ┆ 1933        ┆ 0.0               ┆ 4.523895           ┆ 63.16             │
│ 87                 ┆ 19155       ┆ 0.0               ┆ 4.239439           ┆ 833.2             │
│ 69                 ┆ 548         ┆ 0.0               ┆ 5.367555           ┆ 28.3              │
│ 188                ┆ 1190        ┆ 0.0               ┆ 5.240647           ┆ 32.2              │
│ 10                 ┆ 1304        ┆ 0.0               ┆ 10.631028          ┆ 55.21             │
└────────────────────┴─────────────┴───────────────────┴────────────────────┴───────────────────┘

In [5]:
column_rename_mapping_zones = {
    "LocationID": "location_id",
    "Borough": "borough",
    "Zone": "zone",
}
zones_df = pl.read_parquet("./../data/taxi_zone_lookup.parquet").rename(column_rename_mapping_zones)
zones_df.head()

shape: (5, 4)
┌─────────────┬───────────────┬─────────────────────────┬──────────────┐
│ location_id ┆ borough       ┆ zone                    ┆ service_zone │
│ ---         ┆ ---           ┆ ---                     ┆ ---          │
│ i32         ┆ str           ┆ str                     ┆ str          │
╞═════════════╪═══════════════╪═════════════════════════╪══════════════╡
│ 1           ┆ EWR           ┆ Newark Airport          ┆ EWR          │
│ 2           ┆ Queens        ┆ Jamaica Bay             ┆ Boro Zone    │
│ 3           ┆ Bronx         ┆ Allerton/Pelham Gardens ┆ Boro Zone    │
│ 4           ┆ Manhattan     ┆ Alphabet City           ┆ Yellow Zone  │
│ 5           ┆ Staten Island ┆ Arden Heights           ┆ Boro Zone    │
└─────────────┴───────────────┴─────────────────────────┴──────────────┘

In [9]:
location_id_summary_df.join(
    zones_df,
    left_on="pickup_location_id",
    right_on="location_id"
)

shape: (259, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ pickup_loc ┆ count_trip ┆ trip_dista ┆ trip_dist ┆ trip_dist ┆ borough   ┆ zone      ┆ service_z │
│ ation_id   ┆ s          ┆ nce_min    ┆ ance_mean ┆ ance_max  ┆ ---       ┆ ---       ┆ one       │
│ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ str       ┆ str       ┆ ---       │
│ i32        ┆ u32        ┆ f64        ┆ f64       ┆ f64       ┆           ┆           ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1          ┆ 372        ┆ 0.0        ┆ 1.34578   ┆ 35.75     ┆ EWR       ┆ Newark    ┆ EWR       │
│            ┆            ┆            ┆           ┆           ┆           ┆ Airport   ┆           │
│ 2          ┆ 8          ┆ 0.0        ┆ 11.98     ┆ 20.23     ┆ Queens    ┆ Jamaica   ┆ Boro Zone │
│            ┆            ┆            ┆           ┆           ┆           ┆ Bay       ┆           │
│ 3          ┆ 151        ┆ 0.0        ┆ 7.159073  ┆ 35.1      ┆ Bronx     ┆ Allerton/ ┆ Boro Zone │
│            ┆            ┆            ┆           ┆           ┆           ┆ Pelham    ┆           │
│            ┆            ┆            ┆           ┆           ┆           ┆ Gardens   ┆           │
│ 4          ┆ 7586       ┆ 0.0        ┆ 2.742518  ┆ 37.6      ┆ Manhattan ┆ Alphabet  ┆ Yellow    │
│            ┆            ┆            ┆           ┆           ┆           ┆ City      ┆ Zone      │
│ 5          ┆ 1          ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ Staten    ┆ Arden     ┆ Boro Zone │
│            ┆            ┆            ┆           ┆           ┆ Island    ┆ Heights   ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ 261        ┆ 18849      ┆ 0.0        ┆ 4.178514  ┆ 49.06     ┆ Manhattan ┆ World     ┆ Yellow    │
│            ┆            ┆            ┆           ┆           ┆           ┆ Trade     ┆ Zone      │
│            ┆            ┆            ┆           ┆           ┆           ┆ Center    ┆           │
│ 262        ┆ 48890      ┆ 0.0        ┆ 8.245881  ┆ 176329.23 ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│            ┆            ┆            ┆           ┆           ┆           ┆ East      ┆ Zone      │
│ 263        ┆ 68956      ┆ 0.0        ┆ 8.095303  ┆ 176836.3  ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│            ┆            ┆            ┆           ┆           ┆           ┆ West      ┆ Zone      │
│ 264        ┆ 11567      ┆ 0.0        ┆ 3.261509  ┆ 56.2      ┆ Unknown   ┆ N/A       ┆ N/A       │
│ 265        ┆ 2081       ┆ 0.0        ┆ 8.877866  ┆ 8917.7    ┆ N/A       ┆ Outside   ┆ N/A       │
│            ┆            ┆            ┆           ┆           ┆           ┆ of NYC    ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [11]:
march_yellow_df.select(
    "tpep_pickup_datetime",
    "pickup_location_id",
    "dropoff_location_id",
    "trip_distance",
    "total_amount"
).join(
    zones_df,
    left_on="pickup_location_id",
    right_on="location_id"
)

shape: (3_582_628, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ tpep_picku ┆ pickup_loc ┆ dropoff_lo ┆ trip_dist ┆ total_amo ┆ borough   ┆ zone      ┆ service_z │
│ p_datetime ┆ ation_id   ┆ cation_id  ┆ ance      ┆ unt       ┆ ---       ┆ ---       ┆ one       │
│ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ str       ┆ str       ┆ ---       │
│ datetime[n ┆ i32        ┆ i32        ┆ f64       ┆ f64       ┆           ┆           ┆ str       │
│ s]         ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2024-03-01 ┆ 142        ┆ 239        ┆ 1.3       ┆ 16.3      ┆ Manhattan ┆ Lincoln   ┆ Yellow    │
│ 00:18:51   ┆            ┆            ┆           ┆           ┆           ┆ Square    ┆ Zone      │
│            ┆            ┆            ┆           ┆           ┆           ┆ East      ┆           │
│ 2024-03-01 ┆ 238        ┆ 24         ┆ 1.1       ┆ 15.2      ┆ Manhattan ┆ Upper     ┆ Yellow    │
│ 00:26:00   ┆            ┆            ┆           ┆           ┆           ┆ West Side ┆ Zone      │
│            ┆            ┆            ┆           ┆           ┆           ┆ North     ┆           │
│ 2024-03-01 ┆ 263        ┆ 75         ┆ 0.86      ┆ 10.4      ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│ 00:09:22   ┆            ┆            ┆           ┆           ┆           ┆ West      ┆ Zone      │
│ 2024-03-01 ┆ 164        ┆ 162        ┆ 0.82      ┆ 14.19     ┆ Manhattan ┆ Midtown   ┆ Yellow    │
│ 00:33:45   ┆            ┆            ┆           ┆           ┆           ┆ South     ┆ Zone      │
│ 2024-03-01 ┆ 263        ┆ 7          ┆ 4.9       ┆ 30.4      ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│ 00:05:43   ┆            ┆            ┆           ┆           ┆           ┆ West      ┆ Zone      │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2024-03-31 ┆ 130        ┆ 218        ┆ 4.27      ┆ 15.77     ┆ Queens    ┆ Jamaica   ┆ Boro Zone │
│ 23:16:45   ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ 2024-03-31 ┆ 79         ┆ 100        ┆ 0.0       ┆ 24.8      ┆ Manhattan ┆ East      ┆ Yellow    │
│ 23:29:28   ┆            ┆            ┆           ┆           ┆           ┆ Village   ┆ Zone      │
│ 2024-03-31 ┆ 63         ┆ 181        ┆ 6.44      ┆ 31.5      ┆ Brooklyn  ┆ Cypress   ┆ Boro Zone │
│ 23:15:00   ┆            ┆            ┆           ┆           ┆           ┆ Hills     ┆           │
│ 2024-03-31 ┆ 161        ┆ 148        ┆ 3.88      ┆ 31.58     ┆ Manhattan ┆ Midtown   ┆ Yellow    │
│ 23:27:53   ┆            ┆            ┆           ┆           ┆           ┆ Center    ┆ Zone      │
│ 2024-03-31 ┆ 95         ┆ 7          ┆ 7.39      ┆ 32.97     ┆ Queens    ┆ Forest    ┆ Boro Zone │
│ 23:10:50   ┆            ┆            ┆           ┆           ┆           ┆ Hills     ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [12]:
zone_columns = [
    "borough",
    "zone",
    "service_zone",
]

march_yellow_df.select(
    "tpep_pickup_datetime",
    "pickup_location_id",
    "dropoff_location_id",
    "trip_distance",
    "total_amount"
).join(
    zones_df,
    left_on="pickup_location_id",
    right_on="location_id"
).with_columns(
    pl.col(zone_columns).name.prefix("pickup_")
).drop(zone_columns)

shape: (3_582_628, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ tpep_picku ┆ pickup_loc ┆ dropoff_lo ┆ trip_dist ┆ total_amo ┆ pickup_bo ┆ pickup_zo ┆ pickup_se │
│ p_datetime ┆ ation_id   ┆ cation_id  ┆ ance      ┆ unt       ┆ rough     ┆ ne        ┆ rvice_zon │
│ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ e         │
│ datetime[n ┆ i32        ┆ i32        ┆ f64       ┆ f64       ┆ str       ┆ str       ┆ ---       │
│ s]         ┆            ┆            ┆           ┆           ┆           ┆           ┆ str       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2024-03-01 ┆ 142        ┆ 239        ┆ 1.3       ┆ 16.3      ┆ Manhattan ┆ Lincoln   ┆ Yellow    │
│ 00:18:51   ┆            ┆            ┆           ┆           ┆           ┆ Square    ┆ Zone      │
│            ┆            ┆            ┆           ┆           ┆           ┆ East      ┆           │
│ 2024-03-01 ┆ 238        ┆ 24         ┆ 1.1       ┆ 15.2      ┆ Manhattan ┆ Upper     ┆ Yellow    │
│ 00:26:00   ┆            ┆            ┆           ┆           ┆           ┆ West Side ┆ Zone      │
│            ┆            ┆            ┆           ┆           ┆           ┆ North     ┆           │
│ 2024-03-01 ┆ 263        ┆ 75         ┆ 0.86      ┆ 10.4      ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│ 00:09:22   ┆            ┆            ┆           ┆           ┆           ┆ West      ┆ Zone      │
│ 2024-03-01 ┆ 164        ┆ 162        ┆ 0.82      ┆ 14.19     ┆ Manhattan ┆ Midtown   ┆ Yellow    │
│ 00:33:45   ┆            ┆            ┆           ┆           ┆           ┆ South     ┆ Zone      │
│ 2024-03-01 ┆ 263        ┆ 7          ┆ 4.9       ┆ 30.4      ┆ Manhattan ┆ Yorkville ┆ Yellow    │
│ 00:05:43   ┆            ┆            ┆           ┆           ┆           ┆ West      ┆ Zone      │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ 2024-03-31 ┆ 130        ┆ 218        ┆ 4.27      ┆ 15.77     ┆ Queens    ┆ Jamaica   ┆ Boro Zone │
│ 23:16:45   ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ 2024-03-31 ┆ 79         ┆ 100        ┆ 0.0       ┆ 24.8      ┆ Manhattan ┆ East      ┆ Yellow    │
│ 23:29:28   ┆            ┆            ┆           ┆           ┆           ┆ Village   ┆ Zone      │
│ 2024-03-31 ┆ 63         ┆ 181        ┆ 6.44      ┆ 31.5      ┆ Brooklyn  ┆ Cypress   ┆ Boro Zone │
│ 23:15:00   ┆            ┆            ┆           ┆           ┆           ┆ Hills     ┆           │
│ 2024-03-31 ┆ 161        ┆ 148        ┆ 3.88      ┆ 31.58     ┆ Manhattan ┆ Midtown   ┆ Yellow    │
│ 23:27:53   ┆            ┆            ┆           ┆           ┆           ┆ Center    ┆ Zone      │
│ 2024-03-31 ┆ 95         ┆ 7          ┆ 7.39      ┆ 32.97     ┆ Queens    ┆ Forest    ┆ Boro Zone │
│ 23:10:50   ┆            ┆            ┆           ┆           ┆           ┆ Hills     ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘