## Data Manupilation

In [2]:
import polars as pl

In [3]:
column_rename_mapping = {
    "VendorID": "vendor_id",
    "RatecodeID": "rate_code_id",
    "PULocationID": "pickup_location_id",
    "DOLocationID": "dropoff_location_id",
    "payment_type": "payment_type",
}
df = pl.read_parquet("./../data/yellow_tripdata_2024-03.parquet").rename(
    column_rename_mapping
)

In [4]:
df.head()

shape: (5, 19)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ vendor_id ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ Airport_ │
│ ---       ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ i32       ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆ ---       ┆ ---       ┆ i64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆          │
│           ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 16.3      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:18:51  ┆ 00:23:45  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 15.2      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:26:00  ┆ 00:29:06  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ 1.0       ┆ 10.4      ┆ 0.0       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:09:22  ┆ 00:15:24  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ 1.0       ┆ 14.19     ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:33:45  ┆ 00:39:34  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 30.4      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:05:43  ┆ 00:26:22  ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [5]:
df.group_by("pickup_location_id").agg(
    pl.len().alias("rows"),
    pl.col("passenger_count").max().name.suffix("_max"),
    pl.col("trip_distance").min().name.suffix("_min"),
    pl.col("trip_distance").mean().name.suffix("_mean"),
    pl.col("trip_distance").max().name.suffix("_max"),
).sort(pl.col("rows"), descending=True)

shape: (259, 6)
┌─────────────────┬────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────┐
│ pickup_location ┆ rows   ┆ passenger_count ┆ trip_distance_m ┆ trip_distance_m ┆ trip_distance_m │
│ _id             ┆ ---    ┆ _max            ┆ in              ┆ ean             ┆ ax              │
│ ---             ┆ u32    ┆ ---             ┆ ---             ┆ ---             ┆ ---             │
│ i32             ┆        ┆ i64             ┆ f64             ┆ f64             ┆ f64             │
╞═════════════════╪════════╪═════════════════╪═════════════════╪═════════════════╪═════════════════╡
│ 161             ┆ 163269 ┆ 6               ┆ 0.0             ┆ 2.692728        ┆ 51066.77        │
│ 132             ┆ 157706 ┆ 9               ┆ 0.0             ┆ 15.76677        ┆ 9211.95         │
│ 237             ┆ 155631 ┆ 6               ┆ 0.0             ┆ 2.096025        ┆ 44866.77        │
│ 236             ┆ 146044 ┆ 6               ┆ 0.0             ┆ 3.481146        ┆ 109619.96       │
│ 162             ┆ 123805 ┆ 8               ┆ 0.0             ┆ 3.030781        ┆ 57408.32        │
│ …               ┆ …      ┆ …               ┆ …               ┆ …               ┆ …               │
│ 199             ┆ 2      ┆ 3               ┆ 9.27            ┆ 11.075          ┆ 12.88           │
│ 84              ┆ 1      ┆ null            ┆ 20.11           ┆ 20.11           ┆ 20.11           │
│ 156             ┆ 1      ┆ null            ┆ 14.17           ┆ 14.17           ┆ 14.17           │
│ 109             ┆ 1      ┆ 4               ┆ 0.0             ┆ 0.0             ┆ 0.0             │
│ 5               ┆ 1      ┆ 1               ┆ 0.0             ┆ 0.0             ┆ 0.0             │
└─────────────────┴────────┴─────────────────┴─────────────────┴─────────────────┴─────────────────┘

In [6]:
df.group_by(
    pl.col("pickup_location_id")
    .eq(pl.col("dropoff_location_id"))
    .alias("same_location")
).agg(
    pl.len().alias("count_trips"),
    pl.col("passenger_count").max().name.suffix("_max"),
    pl.col("trip_distance").min().name.suffix("_min"),
    pl.col("trip_distance").mean().name.suffix("_mean"),
    pl.col("trip_distance").max().name.suffix("_max"),
).sort("count_trips", descending=True)

shape: (2, 6)
┌───────────────┬─────────────┬─────────────────┬────────────────┬────────────────┬────────────────┐
│ same_location ┆ count_trips ┆ passenger_count ┆ trip_distance_ ┆ trip_distance_ ┆ trip_distance_ │
│ ---           ┆ ---         ┆ _max            ┆ min            ┆ mean           ┆ max            │
│ bool          ┆ u32         ┆ ---             ┆ ---            ┆ ---            ┆ ---            │
│               ┆             ┆ i64             ┆ f64            ┆ f64            ┆ f64            │
╞═══════════════╪═════════════╪═════════════════╪════════════════╪════════════════╪════════════════╡
│ false         ┆ 3401337     ┆ 9               ┆ 0.0            ┆ 4.705378       ┆ 176836.3       │
│ true          ┆ 181291      ┆ 9               ┆ 0.0            ┆ 0.990839       ┆ 47635.92       │
└───────────────┴─────────────┴─────────────────┴────────────────┴────────────────┴────────────────┘

## Window Functions / .over method

In [7]:
df.with_columns(pl.col("tip_amount").gt(0).alias("had_tip")).sort(
    pl.col("trip_distance"), descending=True
).select(
    "trip_distance",
    "tip_amount",
    "had_tip",
)

shape: (3_582_628, 3)
┌───────────────┬────────────┬─────────┐
│ trip_distance ┆ tip_amount ┆ had_tip │
│ ---           ┆ ---        ┆ ---     │
│ f64           ┆ f64        ┆ bool    │
╞═══════════════╪════════════╪═════════╡
│ 176836.3      ┆ 5.46       ┆ true    │
│ 176744.79     ┆ 19.28      ┆ true    │
│ 176329.23     ┆ 0.0        ┆ false   │
│ 138097.21     ┆ 14.14      ┆ true    │
│ 136660.1      ┆ 0.0        ┆ false   │
│ …             ┆ …          ┆ …       │
│ 0.0           ┆ 0.0        ┆ false   │
│ 0.0           ┆ 0.0        ┆ false   │
│ 0.0           ┆ 0.0        ┆ false   │
│ 0.0           ┆ 0.0        ┆ false   │
│ 0.0           ┆ 3.8        ┆ true    │
└───────────────┴────────────┴─────────┘

In [8]:
df.with_columns(pl.col("tip_amount").gt(0).alias("had_tip")).sort(
    pl.col("trip_distance"), descending=True
).select(
    "trip_distance",
    "tip_amount",
    "had_tip",
    pl.col("trip_distance").rank(descending=True).name.suffix("_rank"),
)

shape: (3_582_628, 4)
┌───────────────┬────────────┬─────────┬────────────────────┐
│ trip_distance ┆ tip_amount ┆ had_tip ┆ trip_distance_rank │
│ ---           ┆ ---        ┆ ---     ┆ ---                │
│ f64           ┆ f64        ┆ bool    ┆ f64                │
╞═══════════════╪════════════╪═════════╪════════════════════╡
│ 176836.3      ┆ 5.46       ┆ true    ┆ 1.0                │
│ 176744.79     ┆ 19.28      ┆ true    ┆ 2.0                │
│ 176329.23     ┆ 0.0        ┆ false   ┆ 3.0                │
│ 138097.21     ┆ 14.14      ┆ true    ┆ 4.0                │
│ 136660.1      ┆ 0.0        ┆ false   ┆ 5.0                │
│ …             ┆ …          ┆ …       ┆ …                  │
│ 0.0           ┆ 0.0        ┆ false   ┆ 3539044.5          │
│ 0.0           ┆ 0.0        ┆ false   ┆ 3539044.5          │
│ 0.0           ┆ 0.0        ┆ false   ┆ 3539044.5          │
│ 0.0           ┆ 0.0        ┆ false   ┆ 3539044.5          │
│ 0.0           ┆ 3.8        ┆ true    ┆ 3539044.5          │
└───────────────┴────────────┴─────────┴────────────────────┘

In [9]:
df.with_columns(pl.col("tip_amount").gt(0).alias("had_tip")).sort(
    pl.col("trip_distance"), descending=True
).select(
    "trip_distance",
    "tip_amount",
    "had_tip",
    pl.col("trip_distance")
    .rank(descending=True)
    .over("had_tip")
    .name.suffix("_rank_with_had_tip"),
)

shape: (3_582_628, 4)
┌───────────────┬────────────┬─────────┬─────────────────────────────────┐
│ trip_distance ┆ tip_amount ┆ had_tip ┆ trip_distance_rank_with_had_ti… │
│ ---           ┆ ---        ┆ ---     ┆ ---                             │
│ f64           ┆ f64        ┆ bool    ┆ f64                             │
╞═══════════════╪════════════╪═════════╪═════════════════════════════════╡
│ 176836.3      ┆ 5.46       ┆ true    ┆ 1.0                             │
│ 176744.79     ┆ 19.28      ┆ true    ┆ 2.0                             │
│ 176329.23     ┆ 0.0        ┆ false   ┆ 1.0                             │
│ 138097.21     ┆ 14.14      ┆ true    ┆ 3.0                             │
│ 136660.1      ┆ 0.0        ┆ false   ┆ 2.0                             │
│ …             ┆ …          ┆ …       ┆ …                               │
│ 0.0           ┆ 0.0        ┆ false   ┆ 1.032188e6                      │
│ 0.0           ┆ 0.0        ┆ false   ┆ 1.032188e6                      │
│ 0.0           ┆ 0.0        ┆ false   ┆ 1.032188e6                      │
│ 0.0           ┆ 0.0        ┆ false   ┆ 1.032188e6                      │
│ 0.0           ┆ 3.8        ┆ true    ┆ 2.506857e6                      │
└───────────────┴────────────┴─────────┴─────────────────────────────────┘

In [10]:
df.sort(
    pl.col("trip_distance"), descending=True
).select(
    "trip_distance",
    "tip_amount",
    pl.col("trip_distance").rank(
        descending=True
    ).over(
        pl.col("tip_amount").gt(0)).name.suffix("_rank_within_had_tip")
    

).filter(
    pl.col("trip_distance_rank_within_had_tip").le(3)
)

shape: (6, 3)
┌───────────────┬────────────┬─────────────────────────────────┐
│ trip_distance ┆ tip_amount ┆ trip_distance_rank_within_had_… │
│ ---           ┆ ---        ┆ ---                             │
│ f64           ┆ f64        ┆ f64                             │
╞═══════════════╪════════════╪═════════════════════════════════╡
│ 176836.3      ┆ 5.46       ┆ 1.0                             │
│ 176744.79     ┆ 19.28      ┆ 2.0                             │
│ 176329.23     ┆ 0.0        ┆ 1.0                             │
│ 138097.21     ┆ 14.14      ┆ 3.0                             │
│ 136660.1      ┆ 0.0        ┆ 2.0                             │
│ 109619.96     ┆ 0.0        ┆ 3.0                             │
└───────────────┴────────────┴─────────────────────────────────┘

## Pivot

In [21]:
df.with_columns(
    pl.col("tolls_amount").gt(0).alias("had_toll")
).pivot(
    index="had_toll",
    on="passenger_count",
    values="tip_amount",
    aggregate_function="mean",
    sort_columns=True
)

shape: (2, 12)
┌──────────┬──────────┬───────────┬───────────┬───┬──────┬───────┬───────┬──────────┐
│ had_toll ┆ 0        ┆ 1         ┆ 2         ┆ … ┆ 7    ┆ 8     ┆ 9     ┆ null     │
│ ---      ┆ ---      ┆ ---       ┆ ---       ┆   ┆ ---  ┆ ---   ┆ ---   ┆ ---      │
│ bool     ┆ f64      ┆ f64       ┆ f64       ┆   ┆ f64  ┆ f64   ┆ f64   ┆ f64      │
╞══════════╪══════════╪═══════════╪═══════════╪═══╪══════╪═══════╪═══════╪══════════╡
│ false    ┆ 2.681551 ┆ 2.937724  ┆ 3.008058  ┆ … ┆ 5.98 ┆ 11.28 ┆ 9.95  ┆ 0.488163 │
│ true     ┆ 9.91655  ┆ 10.384319 ┆ 10.730344 ┆ … ┆ 0.0  ┆ 24.2  ┆ 21.28 ┆ 6.333642 │
└──────────┴──────────┴───────────┴───────────┴───┴──────┴───────┴───────┴──────────┘

In [24]:
df.with_columns(
    pl.col("tolls_amount").gt(0).alias("had_toll")
).pivot(
    index="had_toll",
    on="passenger_count",
    values="tip_amount",
    aggregate_function="len",
    sort_columns=True
)

shape: (2, 12)
┌──────────┬───────┬─────────┬────────┬───┬─────┬─────┬─────┬────────┐
│ had_toll ┆ 0     ┆ 1       ┆ 2      ┆ … ┆ 7   ┆ 8   ┆ 9   ┆ null   │
│ ---      ┆ ---   ┆ ---     ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---    │
│ bool     ┆ u32   ┆ u32     ┆ u32    ┆   ┆ u32 ┆ u32 ┆ u32 ┆ u32    │
╞══════════╪═══════╪═════════╪════════╪═══╪═════╪═════╪═════╪════════╡
│ false    ┆ 38285 ┆ 2257770 ┆ 404925 ┆ … ┆ 5   ┆ 9   ┆ 2   ┆ 416092 │
│ true     ┆ 2087  ┆ 176671  ┆ 48972  ┆ … ┆ 1   ┆ 1   ┆ 1   ┆ 10098  │
└──────────┴───────┴─────────┴────────┴───┴─────┴─────┴─────┴────────┘

In [27]:
df.with_columns(
    pl.col("tolls_amount").gt(0).alias("had_toll")
).pivot(
    index=["pickup_location_id", "dropoff_location_id"],
    on="passenger_count",
    values="tip_amount",
    aggregate_function="len",
    sort_columns=True
)

shape: (30_076, 13)
┌────────────────────┬─────────────────────┬─────┬──────┬───┬─────┬─────┬─────┬──────┐
│ pickup_location_id ┆ dropoff_location_id ┆ 0   ┆ 1    ┆ … ┆ 7   ┆ 8   ┆ 9   ┆ null │
│ ---                ┆ ---                 ┆ --- ┆ ---  ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ i32                ┆ i32                 ┆ u32 ┆ u32  ┆   ┆ u32 ┆ u32 ┆ u32 ┆ u32  │
╞════════════════════╪═════════════════════╪═════╪══════╪═══╪═════╪═════╪═════╪══════╡
│ 142                ┆ 239                 ┆ 144 ┆ 7148 ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 402  │
│ 238                ┆ 24                  ┆ 18  ┆ 1052 ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 94   │
│ 263                ┆ 75                  ┆ 39  ┆ 2652 ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 374  │
│ 164                ┆ 162                 ┆ 32  ┆ 1828 ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 177  │
│ 263                ┆ 7                   ┆ 3   ┆ 125  ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 5    │
│ …                  ┆ …                   ┆ …   ┆ …    ┆ … ┆ …   ┆ …   ┆ …   ┆ …    │
│ 116                ┆ 83                  ┆ 0   ┆ 0    ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 1    │
│ 208                ┆ 240                 ┆ 0   ┆ 0    ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 1    │
│ 119                ┆ 82                  ┆ 0   ┆ 0    ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 1    │
│ 95                 ┆ 243                 ┆ 0   ┆ 0    ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 1    │
│ 77                 ┆ 208                 ┆ 0   ┆ 0    ┆ … ┆ 0   ┆ 0   ┆ 0   ┆ 1    │
└────────────────────┴─────────────────────┴─────┴──────┴───┴─────┴─────┴─────┴──────┘

In [ ]:
df